<div style="height: 100vh;" class="d-flex">
    <a 
        style="height: 100%; flex: 1; background-color: #1DB954;" 
        class="d-flex align-items-center justify-content-center no-decor option"
        routerLink="song"
    >
        <h4>Songs</h4>
    </a>
    <a 
        style="height: 100%; flex: 1; background-color: #191414 ;" 
        class="d-flex align-items-center justify-content-center no-decor option"
        routerLink="collection"
    >
        <h4>Collections</h4>
    </a>
</div>
